<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand mr-auto" href="/"><img src="assets/logo.png" class="logo" alt="SRM Logo"></a>

    <div class="economic mr-2">
      <label for="" class="mr-2">Grupo Econômico: </label>
      <div class="btn-group btn-lg new-btn" dropdown placement="bottom left" container="body">
        <button id="vision" dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle blue"
          aria-controls="dropdown-basic">
          Visão agregada 1 <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Visão agregada 1</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Visão agregada 2</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Visão agregada 3</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-group new-btn mr-2 user" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn  btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="user" class="mr-3"></fa-icon> Sandra Oliveira
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
      <button type="button" class="btn btn-lg btn-secondary">
        <fa-icon icon="bell"></fa-icon> <span class="badge badge-pill badge-danger">4</span>
      </button>
    
    </div>

  </div>
</nav>