<div class="card shadow-lg">
  <div class="card-header clearfix bg-white">
    <h3>Atalhos</h3>
  </div>
  <div class="card-body p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-9">
          <h5 class="mt-4 mb-3">Operacional</h5>
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-6 ">
                <div class="new-btn">
                  <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Envio</a>
                </div>
                <div class="new-btn">
                  <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Envio de Duplicatas</a>
                </div>
                <div class="new-btn">
                  <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Nova Operação</a>
                </div>
              </div>
              <div class="col-6">
                <div class="new-btn">
                  <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Assinatura</a>
                </div>
                <div class="new-btn">
                  <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Assinatura Digital</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="border-left: 1px solid rgba(0,0,0,.125);">
          <h5 class="mt-4 mb-3">Geral</h5>
          <div class="new-btn">
            <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Carteira</a>
          </div>
          <div class="new-btn">
            <a class="btn blue btn-primary btn-block mb-2" href="#" role="button">Instruções</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>