<div class="container-fluid">
  <div class="row">
    <div class="col-6 title">
      <h2><fa-icon icon="globe" class="mr-3"></fa-icon> Painel de Gestão</h2>
    </div>
    <div class="col-6 clearfix">
      
      <div class="product float-right">
        <label for="" class="mr-1">Produto: </label>
        <div class="btn-group  btn-lg new-btn pr-0">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle blue" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Todos
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Todos</a>
            <a class="dropdown-item" href="#">Produto 1</a>
            <a class="dropdown-item" href="#">Produto 2</a>
            <a class="dropdown-item" href="#">Produto 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-shortcuts></app-shortcuts>
    </div>
    <div class="col-6">
      <app-alerts></app-alerts>
    </div>
  </div>
</div>
